VITE_SUPABASE_URL=https://veqrqjervjhlhsyvhbgq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlcXJxamVydmpobGhzeXZoYmdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2MzMxNTUsImV4cCI6MjA5NTIwOTE1NX0.IKsywN9oH9fL5zdEi-jbvl54pTXe6-LVB-OjZ_DxpCs
